<% include ../partials/header %>

<div class="container">
    <div class="display-inline">
        <img src="<%= user.avatar %>" alt="user profile image" id="user-profile-image">
        <h1><%= user.firstName + " " + user.lastName %></h1>
    </div>
    <div class="thumbnail text-spacing">
        <div class="caption"><b>Email: </b><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
    </div>
    <br>

    <div class="text-spacing" style="width; 100px;">
        <h3>Bio</h3>
        <p class="text-spacing"><%= user.biography %></p>
    </div>

    <br>
    <div class="col-md-8 text-spacing">
        <h3><%= user.username %>'s recipes:</h3>
        <ul class="text-spacing">
            <% recipes.forEach(function(recipe) { %>
            <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>
